{% extends 'layout.html' %}
{% block title %} {{ this.title }} {% endblock %}
{% block body %}
  <h2>{{ this.title }}</h2>
  <div>by {{ this.author }}</div>
  <div>{{ this.pub_date|dateformat('full') }}<div>
  <div class='moon-gray f6 measure'>{{ this.body }}</div>
{% endblock %}
