<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ '/static/tachyons.min.css'|asseturl }}"> 
    <link rel="stylesheet" href="{{ '/static/styles.css'|asseturl }}">
  </head>
  <body class='moon-gray pa5'>
  <header>
    <nav>
      <ul class="nav navbar-nav">
        <li{% if this._path == '/' %} class="active"{% endif%}>
          <a href="{{ '/'|url }}">home</a>
        </li>
        {% for href, title in [
          ['/blog', 'tilde blog'],
        ] %}
          <li{% if this.is_child_of(href) %} class="active"{% endif %}>
            <a href="{{ href|url }}">
              {{ title }}
            </a>
          </li>
        {% endfor %}
      </ul>
    </nav>
  </header>
  <div class='page'>
    {% block body %}{% endblock %}
  </div>
  </body>
  <footer class='f7'>
      <div>connect with me:</div>
      <ul>
        <li>me@github: <a href='https://github.com/wgwz'>wgwz</a></li>
      </ul>
  </footer>
</html>
