{% extends 'layout.html' %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
  <h2>{{ this.title }}</h2>
  {% for image in this.attachments.images %}
    <div class="image"><img src="{{ image|url }}"></div>
  {% endfor %}
  <div class='page-body'>{{ this.body }}</div>
{% endblock %}
