body { 
  background: url(../images/body-bg.png);
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar-nav li {
  display: inline;
}

.navbar-nav li a {
  padding: 3px;
}

a:link { color: #FFA3D7; }
a:visited { color: #FF80CC; }
a:hover { color: #FF41B4; }
